.results-header {
	margin-top: 15px;
}

.search-bar {
	margin: 25px auto 0px;
	width: 75% !important;
}

.search-result-item {
	display: inline-block;
	margin: 0px 5px;
}

	.search-result-item img {
		height: 150px;
		width: 150px;
		object-fit: contain;
	}

.form-control {
	padding-bottom: 20px;
}

.section-divider {
	border-bottom: 1px solid black;
}


.related-list {
	width: 100%;
}
.related-videos, 
.related-pictures {
	display: inline-block;
}
