.results-header {
	margin-top: 15px;
}


.search-result-item {
	display: inline-block;
	margin: 0px 5px;
}

	.search-result-item img {
		height: 150px;
		width: 150px;
		object-fit: contain;
	}

.form-control {
	padding-bottom: 20px;
}